migrations/
node_modules/
bower_components/
release/
.tmp/
*.swp
*.pyc
*.pid
_account.py
local_settings.py
*100w.txt
*10w.txt
*1000w.txt
*100w.txt000
*10w.txt000
*1000w.txt000
*Result*
*loginData*
samplesAna.txt
testSamplesAna.txt
samplesAna2.txt
testSamplesAna2.txt
samples.txt
samples2.txt
testSamples.txt
loginData.txt000
samplesAnalr.txt
testSamplesAnalr.txt
*.csv
reCallUsers/*.csv
skmodels/
spmodels/
build/
*egg-info*/
setup.py
log.txt
